<h1>Foods List</h1>
<div>
    <div class="bg-light d-flex flex-row-reverse">
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Food</th>
            <th scope="col">Measurement unit</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if @foods.count == 0 %>
                <tr class="Alert alert-warning text-center fs-3">                   
                    <td colspan="5">
                        <span>No Food Registered</span>
                    </td>                        
                </tr>
            <% else %>
                <% count = 0 %>
                <% @foods.each  do |food| %>
                    <% if can? :manage, food %>
                        <tr>
                            <th scope="row"><%= count = count + 1 %></th>
                            <td ><%= food.name %></td>
                            <td><%= food.measurement_unit %></td>
                            <td><b>$ </b><%= food.price %></td>
                            <td><%= button_to "delete", food_path(:id => food.id), :method => :delete %></td>                 
                        </tr>
                    <% end %>
                <% end %> 
            <% end %>       
        </tbody>
    </table>
</div>